<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cardcaptor - Cadastro de Photocards</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Cadastre um Photocard</h1>

    <form th:action="@{/cadastro}" method="get">
        <p>Grupo:
            <select id="selectGrupo" name="grupo">
                <option value="">Selecione um Grupo</option>
                <option th:each="grupo : ${listaGrupos}" th:value="${grupo.id}" th:text="${grupo.nome}"></option>
            </select>
        </p>
    </form>

    <form th:action="@{/salvar}" method="post" th:object="${photocard}">
        <div>
            <p>Nome: <input type="text" th:field="*{nome}" /></p>
            <p>Tipo:
                <select th:field="*{tipo}">
                    <option th:each="tipo : ${tiposPhotocard}" th:value="${tipo}" th:text="${tipo}"></option>
                </select>
            </p>
            <p>Loja: <input type="text" th:field="*{loja}" /></p>
            <p>Foto (URL): <input type="text" th:field="*{foto}" /></p>
            <p>Idol:
                <select id="selectIdol" th:field="*{idol}"> <option value="">Selecione um Idol</option></select>
            </p>
        </div>
        <button type="submit">Cadastrar</button>
        <br>
    </form>

    <a th:href="@{/}"><button type="button">Voltar para o Início</button></a>

    <script th:inline="javascript">
        const todosIdols = /*[[${listaIdols}]]*/ [];

        const selectGrupo = document.getElementById('selectGrupo');
        const selectIdol = document.getElementById('selectIdol');

        selectGrupo.addEventListener('change', function () {
            const grupoId = parseInt(this.value);
            selectIdol.innerHTML = '<option value="">Selecione um Idol</option>';

            if (grupoId) {
                const idolsFiltrados = todosIdols.filter(idol => idol.grupo.id === grupoId);
                idolsFiltrados.forEach(idol => {
                    const option = document.createElement('option');
                    option.value = idol.id;
                    option.text = idol.nome;
                    selectIdol.appendChild(option);
                });
            }
        });
    </script>
</body>
</html>