<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cardcaptor - Início</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Cardcaptor</h1>

        <nav>
                <a th:href="@{/cadastro}">Adicione um Photocard</a>
                <br>
                <a th:href="@{/grupos}">Lista de Photocards</a>
                <br>
                <a th:href="@{/wishlist}">Minha Wishlist</a>
        </nav>
    </body>
</html>
