<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">    

    <head>
        <title>Idols</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <h1>Idols</h1>
                    <ul>
                        <li th:each="idol : ${idols}">
                            <a th:href="@{/photocards/{id}(id=${idol.id})}" th:text="${idol.nome}"></a>
                        </li>
                    </ul>
                </body>
                </html>
