<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">    

    <head>
        <title th:text="${idol.nome} + ' Photocards'"></title>
    </head>
    <body>
        <h1 th:text="${idol.nome} + ' Photocards'"></h1>

        <ul>
            <li th:each="photocard : ${listaPhotocards}">
                <div>
                    <img th:src="@{${photocard.foto}}" alt="Foto do Photocard" />
                    <br>
                    <a th:href="@{'/photocard/' + ${photocard.id}}">
                        <span th:text="${photocard.nome} + ' ' + ${photocard.tipo} + ' ' + ${photocard.loja}"></span>
                    </a>
                        
                    <form th:action="@{/adicionarAWishlist/{id}(id=${photocard.id})}" method="post">
                    <button type="submit">+</button>
                    </form>
                        
                </div>
            </li>
        </ul>

        <a th:href="@{/grupos}"><button type="button">Voltar para Grupos</button></a>
        <br>
        <a th:href="@{/idols}"><button type="button">Voltar para Membros</button></a>
        <br>
        <a th:href="@{/}"><button type="button">Voltar para Início</button></a>

    </body>
</html>
