<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Membros</title>
    </head>
    <body>
        <h1 th:text="'Membros do ' + ${grupo.nome}"></h1>

        <ul>
            <li th:each="idol : ${listaIdols}">
                <a th:href="@{'/idol/' + ${idol.id}}" th:text="${idol.nome}"></a>
            </li>
        </ul>

        <a th:href="@{/grupos}"><button type="button">Voltar para Lista de Grupos</button></a>
        <br>
        <a th:href="@{/}"><button type="button">Voltar para o Início</button></a>

    </body>
</html>
