<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalhes do Photocard</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1>Detalhes do Photocard</h1>
        
        <img th:src="${photocard.foto}" alt="Foto do Photocard" width="200"/>

        <div th:if="${photocard != null}">
            <p><strong>Nome:</strong> <span th:text="${photocard.nome}"></span></p>
            <p><strong>Tipo:</strong> <span th:text="${photocard.tipo}"></span></p>

            <p th:if="${photocard.loja != null}">
                <strong>Loja:</strong> <span th:text="${photocard.loja}"></span>
            </p>

            <p th:if="${photocard.grupo != null}">
                <strong>Grupo:</strong> <span th:text="${photocard.grupo.nome}"></span>
            </p>

            <p th:if="${photocard.idol != null}">
                <strong>Idol:</strong> <span th:text="${photocard.idol.nome}"></span>
            </p>

        </div>

        <div th:unless="${photocard != null}">
            <p>Photocard não encontrado.</p>
        </div>

        <h2>Adicionar Comentário</h2>

        <form id="formComentario" th:action="@{/comentar/{photocardId}(photocardId=${photocard.id})}" method="post" th:object="${novoComentario}">
            <label for="analise"><strong>Comente suas dúvidas ou outras informações sobre esse photocard para outros collectors!</strong>:</label><br>
                <textarea id="textoComentario" th:field="*{comentario}" rows="4" cols="50"></textarea><br>

                    <div id="mensagemErroJs" class="mensagem-erro-js"></div>

                    <button type="button" onclick="validarComentario()">Comentar</button>
                    <a th:href="@{/}"><button type="button">Voltar para Início</button></a>

                    </form>

                    <h2>Comentários</h2>

                    <ul th:unless="${listaComentarios.empty}">
                        <li th:each="comentario : ${listaComentarios}">
                            <p th:text="${comentario.comentario}"></p>
                        </li>
                    </ul>
                    <div th:if="${listaComentarios.empty}">
                        <p>Nenhum comentário ainda.</p>
                    </div>

                    <script>
                        function validarComentario() {
                            let textoComentario = document.getElementById("textoComentario");
                            let mensagemErroJs = document.getElementById("mensagemErroJs");
                            mensagemErroJs.innerHTML = "";

                            if (textoComentario.value.trim() === "") {
                                textoComentario.classList.add("erro");
                                mensagemErroJs.innerHTML = "O comentário não pode ser vazio.";
                                return false;
                            } else {
                                textoComentario.classList.remove("erro");
                            }
                            document.getElementById("formComentario").submit();
                        }
                    </script>
                    </body>
                    </html>